.div {
  float : left;
  position: absolute;
  top: 180px;
  left: 5px;
  border: 5px solid #999999;
  width : 150px;
  height: 350px;
  background-color: #111111;
  margin : -5px;
}

.divtable {
  float : left;
  position: absolute;
  top: 550px;
  left: 5px;
  border: 5px solid #999999;
  width : 150px;
  height: 350px;
  background-color: #111111;
  margin : -5px;
}


.maindiv {
  float : top;
	position: relative;
	margin-left: auto;
margin-right: auto;
	top : 10px;
	width : 550px;
	padding : 20px;
	background-color : #000000;

}

.topdiv {
  background-image :url("topborder1.png");
	background-repeat: no-repeat;
  background-size: auto;

}
.navdiv {
  border-style: none none solid none;
  border-color : white;
  border-width : 5px;
  margin : -10px;
}

.inline {
  float : left;
  font-size : 26px;
  padding: 10px;
  width : 10%; <!--20 gives perfect 4 under logo but dont need anymore-->
}
.articlediv {
  margin: auto;
  float: none;
  width: 45%;
  border: 5px solid white;
  padding: 10px;
}
.articlediv2 {
  margin: auto;
  float: none;
  width: 45%;
  border: 5px none;
  padding: 10px;
}
.p { color:white;font-size:80px}
.h {  font-weight: 100; }
.image {
    background-image: url('Ch1/c1.png');
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
}
.updatediv {
  margin: auto;
  float: none;
  width: 60%;
  border: 5px solid #999999;
  padding: 10px;
  background-color: #111111;
}

.headerdiv {
  margin: auto;
  float: none;
  width: 60%;
	height: 20px;
	padding: 30px;
}


<!-- -->

a:visited.linkc {
  text-decoration: none;
  color: #f5c71a;
}

a:link.linkc {
  text-decoration: none;
  color: #f5c71a;
}

ul li a + a {
    margin-left: 16px;
}

<!-- idk what this for
ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: #FEFEFE;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
ul a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}   -->


.ul {
  list-style-type: none;
  font-size : 12px;
  text-indent : -10px;
}
.list {
  list-style-type : none;
  text-align: center;
  padding-left: 0px ;
  margin-left: 0px ;
  text-indent: 0px

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.goblets {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.rainbow-text {}

h1, h2, h3, label, form, footer {
  color: #f5c71a;
  text-align: center ;
  }
h4 {
  color: #9400d3;
  text-align: center;
}
a {
  color : #00DCC9
}
a:hover {
  color : white
}
a:visited {
  color : pink
  text-decoration: none;

}

ul, ol {
  color: white;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
  background-color: black;
    height:100%; /* force the BODY element to match the height of the HTML element */
}

p {
  text-align: left ;
  text-indent: 20px;
  color: white;
  }
	p, h1, h2, h3, h4, h5, a {
		font-family: monospace; }
p, a, h4 {font-size:16px}

h1 {font-size:36px}
h2 {font-size:24px}
h3 {font-size:18px}

.btn-text-center{
	text-align: center;
}
.coolbtn {
  background:url(Img/translate.png) no-repeat;
  background-position: center center;
  /*background-color: #6b513a;*/
  border: 10px double #000000;
    width:320px;
    height:90px;
}
/*
.coolbtn:hover {
background-color: #6b513a;
border: 10px double #f5c71a;
color: #f5c71a;
transition: all 1s;
text-align: center;
font-size: 32px;
width:300px;
height:80px;
}
*/

<!-- footer stuff-->
img:hover {
  transform: scale(1.5);
transition: 1s;
text-align: center;
}

.larrow a:hover img {
  transform: scale(1.5);
transition: 1s;
}

.rarrow a:hover {
  position: relative;
  right: -100px;
  float:right;
}


div.gallery {
  border: 1px solid #ccc;
	background-color : #222222;
}


div.gallery:hover {
  border: 3px solid #777;
		background-color : #444444;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
	color: white;
	font-family: monospace;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.responsivekeystone {
  padding: 0 6px;
margin : auto;
  width: 24.99999%;
	margin-bottom: 1%;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
	.responsivekeystone {
	  padding: 0 6px;
	margin : auto;
	  width: 24.99999%;
		margin-bottom: 1%;
	}

}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
	.responsivekeystone {
	margin : auto;
	  width: 100;
		margin-bottom: 1%;
	}

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* For Collapsibles   */


.collapsible {
  background-color: #222222;
	position : relative;
  margin-left: 42%;
	margin-right: 42%;
	margin-top: 10px;
	margin-bottom : 10px;
  cursor: pointer;
  width: 16%;
	height : 60px;
  text-align: center;
  outline: none;
	border : 1px solid #999999;
  font-size: 16px;
	color : white;
	font-family: monospace;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
